.main-container {
  background-color: #FFFFFF;
  height: 100vh;
}

.card-div {
  margin: auto 49px;
  margin-top: 25px;
}

.line {
  height: 0.2px;
  background-color: #C3BAAA;
  margin: 15px 72px;
}

.text-mybeige {
  color: #897E69;
}

.header {
  margin: auto 72px;
  padding-top: 20px;
}

.content-div {
  text-align: center;
  margin: 40px 250px;
  color: #C3BAAA;
}

.about-container {
  height: 100vh;
  background-color: #FFFFFF;
  color: #897E69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-container {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.contact-container .form-inputs {
  margin: auto 32vw;
}

.about-text {
  margin: 10px 250px;
}

.main-footer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  margin-left: 91vw;
  padding-bottom: 6vh;
}

.arrow-up {
  border: none;
  cursor: default;
  background-color: transparent;
  color: #C3BAAA;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, color 0.3s ease;
}

.arrow-up.show {
  display: block;
  opacity: 1;
}

.arrow-up:hover {
  color: #897E69;
  cursor: default;
}

.social-links {
  a {
    font-size: 2rem;
    color: #C3BAAA;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #897E69;
  }
}
