<h2>From: <%= @request.email %></h2>
<p><strong>Name:</strong> <%= @request.name %></p>
<p><strong>Subject:</strong> <%= @request.subject %></p>
<p><strong>Message:</strong></p>
<p><%= @request.content %></p>
